.list {
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0;
}
/*лого з варіантами*/
.logo {
	font-family: "Raleway", sans-serif;
	@include text-design(700, 26px, 1.19, 0.03em);
	color: var(--accent-color);
	text-decoration: none;
	margin-right: 93px;
	&__black {
		color: #000000;
	}
	&__white {
		color: var(--white-color);
	}
}
.header-logo {
	display: initial;
	padding-top: 24px;
	padding-bottom: 25px;
}
/*Хедер*/
.head-design {
	// display: none;
	@include tablet {
		display: flex;
		align-items: center;
		margin: 0;
		justify-content: center;
		// justify-content: space-between;
	}
	@include desktop {
		margin: 0px auto;
		align-items: center;
		margin: 0;
		justify-content: center;
	}
}

.header {
	border-bottom: 1px solid #ececec;
	position: relative;
}
.header-logo-nav {
	display: flex;
	align-items: center;
}

.header-navigation {
	display: none;
	@include tablet {
		display: flex;
		gap: 50px;
	}
	@include desktop {
		display: flex;
		gap: 50px;
	}
}
.header-nav {
	display: none;
	@include tablet {
		display: flex;
		gap: 50px;
	}
	@include desktop {
		display: flex;
		gap: 50px;
	}
}

.header-nav-list {
	@include desktop {
		display: flex;
		gap: 50px;
		margin-left: auto;
	}
}

.header-link {
	@include text-design(500, 14px, 1.14, 0.02em);
	text-decoration: none;
	display: block;
	color: var(--primary-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-address {
	@include text-design(500, 14px, 1.14, 0.02em);
	text-decoration: none;
	display: block;
	color: var(--pretitle-color);
	fill: var(--accent-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
// .header-nav {
// 	margin-left: auto;
// }

.header-link {
	@include text-design(500, 14px, 1.14, 0.02em);
	text-decoration: none;
	display: block;
	color: var(--primary-text-color);
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		color: var(--accent-color);
	}
}

.header-link.current {
	position: relative;
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 4px;
		border-radius: 2px;
		background-color: var(--accent-color);
		position: absolute;
		top: 45px;
	}
}
.header-address.mail,
.header-address.tel {
	display: flex;
	align-items: center;
	gap: 10px;
	fill: var(--pretitle-color);
}
.header-address.mail:hover,
.header-address.mail:focus {
	color: var(--accent-color);
}
.header-address.tel:hover,
.header-address.tel:focus {
	color: var(--accent-color);
}
.mail-icon,
.tel-icon {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-address:hover .mail-icon,
.header-address:focus .mail-icon,
.header-address:hover .tel-icon,
.header-address:focus .tel-icon {
	fill: currentColor;
}

/*Мобільне меню*/
.icon-menu {
	width: 100%;
	width: 40px;
	height: 40px;
	display: inline-block;
	box-sizing: border-box;
	// background-color: transparent;
	outline: none;
	border: none;
	position: absolute;
	// translate: transform (100%);
	display: flex;
	align-items: center;
	justify-content: center;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);

	@include tablet {
		display: none;
	}
}

.mobile-menu {
	margin: 0%;
	position: relative;
	position: fixed;
	background-color: aqua;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

.menu-container {
	width: 480px;
	margin-left: 40px;
	margin-right: auto;
	margin-top: 48px;
}

.mobile-menu-close {
	position: absolute;
	display: block;
	top: 20px;
	right: 20px;
}

.menu-nav-link {
	display: block;
	text-decoration: none;
	font-weight: 500;
	font-size: 20px;
	line-height: 47px;
	letter-spacing: 0.02em;
	color: #212121;
	@include mobile {
		font-size: 40px;
	}
}
.menu-nav-item:not(:last-child) {
	// padding-bottom: 18px;
	// @include mobile {
	// 	padding-bottom: 32px;
	// }
}

.mobile-address-mail {
	text-decoration: none;
	font-weight: 500;
	font-size: 18px;
	line-height: 40px;
	/* identical to box height */
	color: #2196f3;
	letter-spacing: 0.02em;
	@include mobile {
		font-size: 34px;
	}
}
.mobile-address-tel {
	text-decoration: none;
	font-weight: 500;
	font-size: 16px;
	line-height: 28px;
	letter-spacing: 0.02em;

	color: #757575;
	@include mobile {
		font-size: 24px;
	}
}
.mobile-soc-item {
	text-decoration: none;
	border-right: 1px solid rgba(32, 19, 205, 0.2);
}
