.backdrop {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity 500ms cubic-bezier(0.4, 0, 0.2, 1), visibility 500ms cubic-bezier(0.4, 0, 0.2, 1);
}
.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}

.modal {
	width: 528px;
	min-height: 581px;
	background-color: var(--white-color);
	position: fixed;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: translate 500ms cubic-bezier(0.4, 0, 0.2, 1);
	padding: 40px;
	&-close {
		position: absolute;
		top: 8px;
		right: 8px;
		width: 30px;
		height: 30px;
		@extend %align-list-social;
		border: 1px solid rgba(0, 0, 0, 0.1);
		border-radius: 50%;
		background-color: transparent;
	}
	&-text {
		@include text-design(400, 12px, 1.17, 0.01em);
		color: var(--pretitle-color);
	}
	&-list {
		margin-top: 10px;
	}
	&-title {
		@include text-design(700, 20px, 1.15, 0.03em);
		text-align: center;
		margin-bottom: 12px;
	}
}

.modal-list:first-child {
	margin-top: 0;
}
.close-icon {
	width: 18px;
	height: 18px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus,
	&:hover {
		fill: #2196f3;
	}
}

.form-input {
	width: 100%;
	height: 40px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding-left: 42px;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		outline: 1px solid var(--accent-color);
	}
}

.input-wrap {
	position: relative;
}
.input-icon {
	position: absolute;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
}
.form-input:focus + .input-icon {
	fill: var(--accent-color);
}

.form-input.comment {
	height: 120px;
	width: 100%;
	resize: none;
	padding-left: 16px;
	&::placeholder {
		@include text-design(400, 12px, 2, 0.01em);
		color: rgba(117, 117, 117, 0.5);
	}
}

.agreement {
	margin-top: 20px;
	text-align: center;
}
.agreement-link {
	color: var(--accent-color);
	text-decoration: none;
}

.check-policy {
	@extend %align-list-social;
	margin-left: auto;
	margin-right: auto;
	@include text-design(inherit, 14px, 1.71, 0.03em);
	color: var(--pretitle-color);
}

.check-policy span {
	width: 16px;
	height: 15px;
	border: 1px solid #212121;
	border-radius: 3px;
	outline: none;
	margin-right: 7px;
	@extend %align-list-social;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
	.input-check:checked + & {
		background-color: var(--accent-color);
		border-color: var(--accent-color);
	}
	.input-check:focus + & {
		border-color: var(--accent-color);
	}
}

.check-icon {
	fill: transparent;
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-check:checked + .check-policy .check-icon {
	fill: var(--white-color);
}

.model-send {
	margin-top: 30px;
	padding-left: 52px;
	padding-right: 52px;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
	&:hover,
	&:focus {
		background-color: #188ce8;
		box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
		border-radius: 4px;
	}
}
