.work {
	padding-top: 0;
	&__title {
		@extend %text-margin;
	}
}

.work-list {
	display: flex;
	gap: 30px;
	&__item {
		position: relative;
		width: calc((100% - 60px) / 3);
	}
	&__text {
		@include text-design(700, 14px, 1.14, 0.03em);
		margin-bottom: 10px;
		color: var(--white-color);
		position: absolute;
		overflow: hidden;
		bottom: 0;
		left: 0;
		width: 100%;
		background-color: rgba(47, 48, 58, 0.8);
		text-align: center;
		padding-top: 27px;
		padding-bottom: 27px;
		margin: 0;
	}
}
